<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Header</title>
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
</head>

<body>

</html>
<div class="container">
    <div class="row">
        <!-- Instead you can use boot strap class "masthead" -->
        <header class="head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="container">
                            <form class="searching" action="/search/photos/">
                                <input type="search" class="qWUF0" data-test="feed-header-search-form-input" name="searchKeyword" id="FEED_HEADER_SEARCH_INPUT"
                                    placeholder="Search high-resolution! " required="">

                                <div class="buttonsearch">
                                    <button title="Search" data-test="feed-header-search-form-button" class="_37zTg _1l4Hh _1CBrG _3TTOE Sb388">
                                        <span class="_2yArQ">Search</span>
                                    </button>
                                </div>
                            </form>

                            <div class="headfont">
                                <h1>Photo-Synthetic</h1>
                            </div>
                            <div class="headsub">
                                <h3> Captuted By Category!</h3>
                                <h4>Capture With No Limits!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>