.carousel-inner{
    height: 350px;
}

.woble{
  
  padding: 20px;
  padding-bottom: 70px;

}

.index {
  column-count: 2;
  column-gap: 10px;
  margin-top: 3%;
  
}

.buttonsearch{
margin-left: -20%;
margin-top: -2%;
color: black;
font-family: "proxima noma";
}

.searching{
margin-left: -13%;
margin-top: -6%;
color: black;
border-radius: 50px;
}

.searchbutton{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    opacity: 0.6;
}

.searchbutton :hover{
    background-color: red;
    border-radius: px;
    color: white;
    text-align: center;
    opacity: 1;
}

.carousel-caption {
    bottom: 10%;
}

@media (max-width: 1112px) {
    .index {
    column-count: 2;
    column-gap: 10px;
    margin-top: 3%;
    }

    .buttonsearch{
    margin-left: -23%;
    margin-top: -2%;
}

    .searching{
    margin-left: -20%;
    margin-top: 0%;
    }
    
}
/* VIEW DETAIL BUTTON */

.modalbtn{
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    color: white;
    text-decoration: none;
    border: 2px solid #D24D57;
    display: block;
    margin: 30px auto 0;
	padding: 14px 15px;

}
.modalbtn{

}


/* END OF VIEW DETAIL BUTTON */

@media (max-width: 850px) {


    .buttonsearch{
    margin-left: -29%;
    margin-top: -3%;
}

    .searching{
    margin-left: -20%;
    margin-top: 0%;
    }
    
}


@media (max-width: 700px) {
    .index {
    column-count: 1;
    column-gap: 10px;
    margin-top: 3%;
    }
    .searching{
        display: none;
    }

}

